<!DOCTYPE html>
<html>
<head>
    <title>Kebab Review Login</title>
</head>
<body>

<h2>Kebab Review Platform</h2>

<form method="post" action="/login">

    <p>
        Username:
        <br>
        <input type="text" name="username" required>
    </p>

    <p>
        Password:
        <br>
        <input type="password" name="password" required>
    </p>

    <p>
        <button type="submit">Login</button>
    </p>

    <p>
        <a href="/register">Register here</a>
        <br>
        <a href="/reset-password">Forgot password?</a>
    </p>

</form>

<hr>

<p>Wireframe </p>

</body>
</html>